language: python

branches:
  except:
  - gh-pages

stages:
- test
- name: deploy
  if: tag IS present

jobs:
  include:
  - python: 3.6
    env: TOXENV=unit_py3_6,check,doc
  - python: 2.7
    env: TOXENV=unit_py2_7,check,doc
  - stage: deploy
    python: 3.6
    env: TOXENV=doc_travis
    deploy:
      - provider: pages
        skip_cleanup: true
        local-dir: doc/build_travis
        github-token: $GH_TOKEN
        keep-history: true
        on:
          tags: true
      - provider: pypi
        skip_cleanup: true
        user: schaefi
        password: $PYPI_PASS
        distributions: sdist
        on:
          tags: true

before_install:
- sudo apt-get update -qq
- sudo apt-get install -y git
- sudo apt-get install -y xsltproc
- sudo apt-get install -y genisoimage
- sudo apt-get install -y enchant
- sudo apt-get install -y shellcheck

install:
- pip install --upgrade pip
- pip install tox

script:
- tox "-n $(nproc)"
