#
# Requirement files for Python Virtual Environments
#

# Shell interface for docopt, the command-line interface description language
docopt

# Powerful and Pythonic XML processing library
lxml

# YAML file parsing
PyYAML

# Python wrapper for extended filesystem attributes
xattr==0.9.3

# Network request/response library
requests

# markup support
anymarkup
