#
# Requirement files for Python Virtual Environments
#

-r .virtualenv.requirements.txt

# poetry for building/installing/upload
poetry

# virtualenv-based automation of test activities
tox

# python unit testing framework
pytest
pytest-cov
pytest-xdist

# Rolling backport of unittest.mock for all Pythons
mock

# Version-bump your software with a single command!
bumpversion

# A built-package format for Python
wheel

# Python style guide checker
flake8
mypy
types-requests
types-PyYAML
types-mock
types-simplejson

# Generate Data Structures from XML Schema
# http://pythonhosted.org/generateDS
generateDS==2.29.24

# for building documentation
sphinx>=5.0.0

git+https://github.com/openSUSE/rstxml2docbook.git@feature/kiwi

sphinx_rtd_theme
sphinxcontrib-spelling
pyenchant

# for github pages deployment tasks
travis-sphinx
ghp-import

# for helper tools
python-dateutil

# for release
twine

# for scripts testing
pytest-container
