#
# Requirement files for Python Virtual Environments
#

# Shell interface for docopt, the command-line interface description language
docopt-ng

# Powerful and Pythonic XML processing library
lxml

# YAML file parsing
PyYAML

# TOML file parsing
toml

# Network request/response library
requests

# markup support
anymarkup-core
xmltodict

# provides pkg_resources
setuptools

# json support that also knows about tuples
simplejson

# TOML file parsing
toml

# markup support
anymarkup-core
xmltodict
