# Manifest describing source package contents

graft doc/build/man
graft tools
graft helper
graft completion
graft kiwi/boot
graft kiwi/xsl
graft kiwi/schema
graft kiwi/config
graft package


include Makefile
include README*
include LICENSE
include tox.ini
include .fuzzy
include .locale

recursive-include doc *.py *.rst Makefile
recursive-include test *.gz *.iso *.kiwi *.pf2 *.py *.txt *.xml *.xz

include .bumpversion.cfg
include .coverage*
include .landscape.yml
include .travis*
include .releasetags

include .virtualenv.requirements.txt
include .virtualenv.dev-requirements.txt

global-exclude *.py[cod] __pycache__ *.so *.dylib
