# Manifest describing source package contents

# schema docs gets auto generated, don't include any data
# existing there into the package tarball
prune doc/source/development/schema

graft tools
graft dracut
graft helper
graft kiwi/boot
graft kiwi/utils
graft kiwi/markup
graft kiwi/archive
graft kiwi/bootloader
graft kiwi/builder
graft kiwi/container
graft kiwi/filesystem
graft kiwi/package_manager
graft kiwi/partitioner
graft kiwi/repository
graft kiwi/schema
graft kiwi/storage
graft kiwi/system
graft kiwi/volume_manager
graft kiwi/xsl
graft kiwi/schema
graft kiwi/config
graft kiwi/tasks
graft kiwi/solver
graft kiwi/iso_tools
graft kiwi/oci_tools
graft package

include Makefile
include README.rst
include LICENSE
include tox.ini
include kiwi.yml

recursive-include doc/build/man *
recursive-include test *.gz *.iso *.kiwi *.pf2 *.py *.txt *.xml *.xz

include .bumpversion.cfg
include .coverage*

include .virtualenv.requirements.txt
include .virtualenv.dev-requirements.txt

global-exclude *.py[cod] __pycache__
