[Unit]
Description=Set Agama hostname
# after running the default hostname systemd service
After=systemd-hostnamed.target
# but before starting the mDNS server
Before=avahi-daemon.service
# run only if the hostname has the default value, if it has been changed
# by the hernel command line or systemd then keep it
ConditionHost=localhost

[Service]
ExecStart=hostnamectl hostname --transient agama
Type=oneshot
User=root

[Install]
WantedBy=default.target
