[Unit]
Description=Set the root password from the ISO application area

# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service

# before the other password setting methods so they can override it
Before=live-password-cmdline.service
Before=live-password-dialog.service
Before=live-password-systemd.service

[Service]
ExecStart=live-password --iso
Type=oneshot

[Install]
WantedBy=default.target
