[Unit]
Description=Set a random password for root if not already set

# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service

# after all other password services, this a fallback service
After=live-password-cmdline.service
After=live-password-dialog.service
After=live-password-iso.service
After=live-password-systemd.service

[Service]
ExecStart=live-password --random
Type=oneshot

[Install]
WantedBy=default.target
