[Unit]
Description=Set the root password from kernel command line

# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service

# before the interactive setting methods so they can override it
Before=live-password-dialog.service
Before=live-password-systemd.service

# plain text password or encrypted password passed via kernel command line
ConditionKernelCommandLine=|live.password
ConditionKernelCommandLine=|live.password_hash

[Service]
ExecStart=live-password --kernel
Type=oneshot

[Install]
WantedBy=default.target
