Priority: optional
Maintainer: Marcus Schaefer <ms@suse.de>
Source: python-kiwi
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.2
Homepage: https://github.com/SUSE/kiwi

Package: python-kiwi
Architecture: all
Section: utils
Description: KIWI - Appliance Builder Next Generation
 Package build kiwi is work in progress. Currently empty package

Package: dracut-kiwi-lib
Section: utils
Architecture: any
Depends: bc, cryptsetup, btrfs-progs, gdisk, coreutils, e2fsprogs, grep, lvm2, mdadm, parted, util-linux, xfsprogs, dialog, pv, curl, xz, device-mapper
Description: KIWI - Dracut kiwi Library
 This package contains a collection of methods to provide a library
 for tasks done in other kiwi dracut modules

Package: dracut-kiwi-oem-repart
Section: utils
Architecture: any
Depends: dracut-kiwi-lib
Description: KIWI - Dracut module for oem(repart) image type
 This package contains the kiwi-repart dracut module which is
 used to repartition the oem disk image to the current disk
 geometry according to the setup in the kiwi image configuration

Package: dracut-kiwi-oem-dump
Section: utils
Architecture: any
Depends: dracut-kiwi-lib, kexec-tools, dmraid, device-mapper-multipath, gawk
Description: KIWI - Dracut module for oem(install) image type
 This package contains the kiwi-dump dracut module which is
 used to install an oem image onto a target disk. It implements
 a simple installer which allows for user selected target disk
 or unattended installation to target. The source of the image
 to install could be either from media(CD/DVD/USB) or from
 remote

Package: dracut-kiwi-live
Section: utils
Architecture: any
Depends: genisoimage, dialog, xfsprogs, e2fsprogs, util-linux, device-mapper, dracut
Description: KIWI - Dracut module for iso(live) image type
 This package contains the kiwi-live dracut module which is used
 for booting iso(live) images built with KIWI

Package: dracut-kiwi-overlay
Section: utils
Architecture: any
Depends: dracut, util-linux
Description: KIWI - Dracut module for vmx(+overlay) image type
 This package contains the kiwi-overlay dracut module which is used
 for booting vmx images built with KIWI and configured to use an
 overlay root filesystem
