<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.4" name="initrd-isoboot-rhel-07.0">
    <description type="boot">
        <author>Marcus Schaefer</author>
        <contact>ms@novell.com</contact>
        <specification>boot/initrd image used for LiveDVD media</specification>
    </description>
    <preferences>
        <type image="cpio" bootprofile="default" bootkernel="std"/>
        <version>2.7.0</version>
        <packagemanager>yum</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <profiles>
        <profile name="default" description="Booting default setup"/>
        <profile name="std" description="KERNEL: Default"/>
        <profile name="custom" description="KERNEL: specified by bootinclude in system XML"/>
    </profiles>
    <drivers>
        <file name="crypto/*"/>
        <file name="drivers/acpi/dock.ko"/>
        <file name="drivers/ata/*"/>
        <file name="drivers/block/brd.ko"/>
        <file name="drivers/block/loop.ko"/>
        <file name="drivers/block/virtio_blk.ko"/>
        <file name="drivers/cdrom/*"/>
        <file name="drivers/char/hw_random/virtio-rng.ko"/>
        <file name="drivers/firmware/edd.ko"/>
        <file name="drivers/gpu/drm/*"/>
        <file name="drivers/hid/*"/>
        <file name="drivers/ide/*"/>
        <file name="drivers/ieee1394/*"/>
        <file name="drivers/input/keyboard/*"/>
        <file name="drivers/input/mouse/*"/>
        <file name="drivers/md/*"/>
        <file name="drivers/message/fusion/*"/>
        <file name="drivers/net/*"/>
        <file name="drivers/parport/*"/>
        <file name="drivers/scsi/*"/>
        <file name="drivers/usb/*"/>
        <file name="drivers/virtio/*"/>
        <file name="fs/binfmt_aout.ko"/>
        <file name="fs/binfmt_misc.ko"/>
        <file name="fs/overlayfs/*"/>
        <file name="fs/btrfs/*"/>
        <file name="fs/ext2/*"/>
        <file name="fs/ext3/*"/>
        <file name="fs/ext4/*"/>
        <file name="fs/fat/*"/>
        <file name="fs/ntfs/*"/>
        <file name="fs/fuse/*"/>
        <file name="fs/jbd/*"/>
        <file name="fs/jbd2/*"/>
        <file name="fs/udf/*"/>
        <file name="fs/isofs/*"/>
        <file name="fs/mbcache.ko"/>
        <file name="fs/nls/nls_cp437.ko"/>
        <file name="fs/nls/nls_iso8859-1.ko"/>
        <file name="fs/nls/nls_utf8.ko"/>
        <file name="fs/quota_v1.ko"/>
        <file name="fs/quota_v2.ko"/>
        <file name="fs/squashfs/*"/>
        <file name="fs/vfat/*"/>
        <file name="lib/crc-t10dif.ko"/>
        <file name="lib/crc16.ko"/>
        <file name="fs/nfs/*"/>
        <file name="fs/nfs_common/*"/>
        <file name="net/ipv6/*"/>
        <file name="net/packet/*"/>
        <file name="net/sunrpc/*"/>
    </drivers>
    <repository type="rpm-md" status="replaceable">
        <source path="iso:///image/CDs/RHEL-6.0-%arch-DVD.iso/Server"/>
    </repository>
    <packages type="image" profiles="std">
        <package name="kernel"/>
    </packages>
    <packages type="image" profiles="custom"><!-- empty custom section to allow bootincluding custom kernel --></packages>
    <packages type="bootstrap">
        <package name="kbd"/>
        <package name="basesystem"/>
        <package name="filesystem"/>
    </packages>
    <packages type="image">
        <package name="bind-libs"/>
        <package name="bind-utils"/>
        <package name="coreutils"/>
        <package name="dialog"/>
        <package name="e2fsprogs"/>
        <package name="file"/>
        <package name="gawk"/>
        <package name="genisoimage"/>
        <package name="hdparm"/>
        <package name="hwinfo"/>
        <package name="initscripts"/>
        <package name="iproute"/>
        <package name="lvm2"/>
        <package name="make"/>
        <package name="memtest86+"/>
        <package name="pam"/>
        <package name="parted"/>
        <package name="psmisc"/>
        <package name="rpm"/>
        <package name="setup"/>
        <package name="sysfsutils"/>
        <package name="syslinux"/>
        <package name="tar"/>
        <package name="gettext"/>
        <package name="sysvinit-tools"/>
    </packages>
    <packages type="delete">
        <package name="audit-libs"/>
        <package name="bind-libs"/>
        <package name="bind-utils"/>
        <package name="binutils"/>
        <package name="cracklib-dicts"/>
        <package name="cyrus-sasl"/>
        <package name="dbus-glib"/>
        <package name="diffutils"/>
        <package name="expat"/>
        <package name="freetype"/>
        <package name="gawk"/>
        <package name="gdbm"/>
        <package name="glib2"/>
        <package name="hdparm"/>
        <package name="info"/>
        <package name="iproute"/>
        <package name="irqbalance"/>
        <package name="keyutils-libs"/>
        <package name="logrotate"/>
        <package name="lvm2"/>
        <package name="make"/>
        <package name="mdadm"/>
        <package name="memtest86+"/>
        <package name="mingetty"/>
        <package name="mktemp"/>
        <package name="mtools"/>
        <package name="net-tools"/>
        <package name="openldap-clients"/>
        <package name="perl"/>
        <package name="perl-HTML-Parser"/>
        <package name="perl-HTML-Tagset"/>
        <package name="pm-utils"/>
        <package name="postfix"/>
        <package name="setserial"/>
        <package name="syslinux"/>
        <package name="groff"/>
    </packages>
</image>
