<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="initrd-oemboot-ubuntu-xenial">
    <description type="boot">
        <author>Marcus Schaefer</author>
        <contact>ms@suse.com</contact>
        <specification>boot/initrd image used on OEM VMX disk</specification>
    </description>
    <preferences>
        <type image="cpio" bootprofile="default" bootkernel="std"/>
        <version>16.0.4</version>
        <packagemanager>apt-get</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <profiles>
        <profile name="default" description="Booting default setup"/>
        <profile name="custom" description="KERNEL: specified by bootinclude in system XML"/>
        <profile name="std" description="KERNEL: Generic"/>
    </profiles>
    <drivers>
        <file name="crypto/*"/>
        <file name="drivers/acpi/*"/>
        <file name="drivers/acpi/dock.ko"/>
        <file name="drivers/ata/*"/>
        <file name="drivers/block/brd.ko"/>
        <file name="drivers/block/cciss.ko"/>
        <file name="drivers/block/loop.ko"/>
        <file name="drivers/block/virtio_blk.ko"/>
        <file name="drivers/cdrom/*"/>
        <file name="drivers/char/hw_random/virtio-rng.ko"/>
        <file name="drivers/char/lp.ko"/>
        <file name="drivers/firmware/edd.ko"/>
        <file name="drivers/gpu/drm/*"/>
        <file name="drivers/hid/*"/>
        <file name="drivers/hv/*"/>
        <file name="drivers/hwmon/*"/>
        <file name="drivers/ide/*"/>
        <file name="drivers/input/keyboard/*"/>
        <file name="drivers/input/mouse/*"/>
        <file name="drivers/md/*"/>
        <file name="drivers/message/fusion/*"/>
        <file name="drivers/net/*"/>
        <file name="drivers/parport/*"/>
        <file name="drivers/scsi/*"/>
        <file name="drivers/staging/hv/*"/>
        <file name="drivers/thermal/*"/>
        <file name="drivers/usb/*"/>
        <file name="drivers/virtio/*"/>
        <file name="fs/binfmt_aout.ko"/>
        <file name="fs/binfmt_misc.ko"/>
        <file name="fs/overlayfs/*"/>
        <file name="fs/btrfs/*"/>
        <file name="fs/exportfs/*"/>
        <file name="fs/ext2/*"/>
        <file name="fs/ext3/*"/>
        <file name="fs/ext4/*"/>
        <file name="fs/fat/*"/>
        <file name="fs/fuse/*"/>
        <file name="fs/hfs/*"/>
        <file name="fs/jbd/*"/>
        <file name="fs/jbd2/*"/>
        <file name="fs/mbcache.ko"/>
        <file name="fs/nls/nls_cp437.ko"/>
        <file name="fs/nls/nls_iso8859-1.ko"/>
        <file name="fs/nls/nls_utf8.ko"/>
        <file name="fs/quota_v1.ko"/>
        <file name="fs/quota_v2.ko"/>
        <file name="fs/squashfs/*"/>
        <file name="fs/udf/*"/>
        <file name="fs/vfat/*"/>
        <file name="fs/xfs/*"/>
        <file name="fs/isofs/*"/>
        <file name="lib/crc-t10dif.ko"/>
        <file name="lib/crc16.ko"/>
        <file name="lib/libcrc32c.ko"/>
        <file name="lib/zlib_deflate/zlib_deflate.ko"/>
        <file name="net/packet/*"/>
    </drivers>
    <repository type="apt-deb">
        <source path="http://ftp.halifax.rwth-aachen.de/ubuntu"/>
    </repository>
    <packages type="bootstrap" profiles="std">
        <package name="linux-generic"/>
    </packages>
    <packages type="bootstrap" profiles="custom"/>
    <packages type="image">
        <package name="dialog"/>
        <package name="plymouth"/>
        <package name="hwinfo"/>
        <package name="grub-efi-amd64"/>
        <package name="isolinux"/>
        <package name="syslinux"/>
        <package name="genisoimage"/>
        <package name="gawk"/>
        <package name="parted"/>
        <package name="dracut"/>
        <package name="gdisk"/>
        <package name="atftp"/>
        <package name="bc"/>
        <package name="cryptsetup"/>
        <package name="curl"/>
        <package name="dosfstools"/>
        <package name="lvm2"/>
    </packages>
    <packages type="bootstrap">
        <package name="initramfs-tools"/>
        <package name="grub2"/>
        <package name="dmraid"/>
        <package name="multipath-tools"/>
        <package name="kpartx-boot"/>
        <package name="sg3-utils-udev"/>
    </packages>
</image>
